body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:718px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0 {
  position:absolute;
  left:288px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:315px;
  top:106px;
  width:375px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
}
#u5 {
  position:absolute;
  left:656px;
  top:110px;
  width:29px;
  height:13px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u7 {
  position:absolute;
  left:527px;
  top:105px;
  width:18px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u9 {
  position:absolute;
  left:555px;
  top:103px;
  width:11px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u11 {
  position:absolute;
  left:578px;
  top:108px;
  width:21px;
  height:15px;
}
#u12 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:608px;
  top:107px;
  width:37px;
  height:18px;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:315px;
  top:125px;
  width:375px;
  height:648px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:648px;
}
