body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:269px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:0px;
  top:72px;
  width:375px;
  height:49px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1242 {
  position:absolute;
  left:14px;
  top:79px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1244 {
  position:absolute;
  left:194px;
  top:83px;
  width:59px;
  height:18px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1247 {
  position:absolute;
  left:0px;
  top:13px;
  width:375px;
  height:49px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1249 {
  position:absolute;
  left:14px;
  top:24px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1251 {
  position:absolute;
  left:194px;
  top:26px;
  width:59px;
  height:18px;
}
#u1252 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 207, 226, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1253 {
  position:absolute;
  left:131px;
  top:320px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u1253_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 218, 236, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1253.mouseOver {
}
#u1253_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 194, 210, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1253.mouseDown {
}
#u1254 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
